
@mixin elem-hover($property: color) {
  transition: $property 0.6s ease 0s;
  cursor: pointer;
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  }
body {
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0;
}

h1 {
  margin: 0 0 10px 0;
  font: 400 32px Georgia;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  display: block;
}

.start-section {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  text-align: center;
}
.header__container {
  height: 60px;
  margin: 60px 40px;
  display:inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo-paragraph {
  margin: 0;
  font: 400 13px Arial;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.1em;
}
.li-content {
  display: inline;
  font: 400 15px Arial;
  color: #CDCDCD;
  line-height: 0.16em;
  padding-bottom: 0.2em;
}
.li-content:hover {
  color: #FAFAFA;
  @include elem-hover;
}
.active {
  color: #FAFAFA;
  border-bottom: 3.5px solid #F1CDB3;
}
.nav-content {
  width: 443px;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
}
.start-screen__container {
  margin: 0 auto;
  display: flex;
  gap: 42px;
}
.start-screen__article__container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 42px;
}
.start-screen-h2 {
  margin: 163px 0 0 0;
  font: 400 44px Georgia;
  color: #FFFFFF;
  line-height: 1.3em;
  text-align: left;
}
.arial-paragraph {
  font: normal 15px Arial;
  line-height: 1.6em;
}
.start-screen-paragraph {
  margin: 0;
  color: #CDCDCD;
  text-align: left;
}
.start-screen-img {
  width: 698px;
  height: 728px;
}
.btn {
  font: 400 17px Georgia;
  color: #292929;
  background: none;
  letter-spacing: 0.06em;
  line-height: 1.3em;
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}
.pink-button:hover {
  @include elem-hover($property: background);
  background: #fbc8a3;  
}
.pink-button {
  background: #F1CDB3;
}

.about-section {
  margin: 80px auto 100px auto;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about-content {
  width: 430px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.about-img__container {
  width: 300px;
  height: 408px;
}
.about-paragraph {
  margin: 0;
  color: #4c4c4c;
}
.ordinary-h3 {
  margin: 0;
  font: 400 35px 'Georgia';
  letter-spacing: 0.06em;
  line-height: 1.3em;
  color: #545454;
}
.our-friends-section {  
  background: #F6F6F6;
  text-align: center;
  padding: 80px 40px 100px 40px;
}
.our-friends__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.our-friends-cards__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 53px;
}
.our-friends-cards__content {
  display: flex;
  gap: 90px;
}
.our-friends-card__content {
  margin: 0;
  border-radius: 9px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.our-friends-card__content:hover {
  @include elem-hover($property: transform);
  transform: scale(1.02);
  box-shadow: 3px 2px #F1CDB3;
}
.our-friends-img__container, .help-items__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}
.our-friends-img {  
  width: 270px;
  height: 270px;
}
.our-friends-img__figcaption, .help-items__figcaption, .credit-card-number, .footer-content-figcaption {
  font: 400 20px 'Georgia';
  letter-spacing: 0.056em;
  color: #545454;
  line-height: 23px;
  white-space: nowrap;
}
.card_btn {
  margin-bottom: 30px;
}
.card_btn:hover, .arrow_btn:hover {
  @include elem-hover($property: background);
  background: #F1CDB3;
}
.arrow_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 0;
  text-align: center;
}

.arrow-right {
  transform: rotate(180deg);
}
.help-section__container {
  text-align: center;
  padding: 80px 0 100px 0;
}
.help-items__content {
  align-items: center;
  justify-content: space-between;
}
.help-items__container {
  margin: 60px 87px 0 87px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}
.help-items-img {
  width: 60px;
  height: 60px;
}
.donation-content__container {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}
.donation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.donation__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}
.donation-paragraph {
  font: 400 15px 'Georgia';
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__bank-card {
  max-width: 319px;
  max-height: 43px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
}
.donation-paragraph-small {
  font: italic 400 12px 'Arial';
  line-height: 150%;
  color: #B2B2B2;
}
.donation_dog {
  margin: 0;
  width: 505px;
  height: 261px;
}
.contacts-content__container {
  background-image: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.contacts__container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mail__container, .phone__container, .boston__container, .london__container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts-content__container h3 {
  color: #FFFFFF;
}
.questions__content, .adresses__content {
  padding-top: 16px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-content-figcaption {
  color: #F1CDB3;
}
.mail__container:hover, .phone__container:hover, .boston__container:hover, .london__container:hover {
  .footer-content-figcaption {
    @include elem-hover($property: color);
    color: #FFFFFF;
  }
}
.footer-img {
  width: 300px;
  height: 310px;
}

